.card {
    height: 4rem;
    width: 2.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.red {
    color: red;
}

.black {
    color: black;
}